vc/Debug/*
vc/Release/*
vc/Debug_x64/*
vc/Release_x64/*
vc/ipch/*
vc/ScaiIlpDll/Debug/*
vc/ScaiIlpDll/Release/*
vc/ScaiIlpDll/Debug_x64/*
vc/ScaiIlpDll/Release_x64/*
vc/ScaiIlpExe/Debug/*
vc/ScaiIlpExe/Release/*
vc/ScaiIlpExe/Debug_x64/*
vc/ScaiIlpExe/Release_x64/*
vc/UnitTest/Debug/*
vc/UnitTest/Release/*
vc/UnitTest/Debug_x64/*
vc/UnitTest/Release_x64/*
vc/UnitTest/*.mps
vc/.vs/*
*.aps
*.vcxproj.user