vc/Release_x64/*
vc/Debug_x64/*
vc/RelClang_x64/*
vc/DebClang_x64/*

vc/ipch/*
vc/ScaiIlpDll/Debug_x64/*
vc/ScaiIlpDll/Release_x64/*
vc/ScaiIlpDll/DebClang_x64/*
vc/ScaiIlpDll/RelClang_x64/*
vc/ScaiIlpExe/Debug_x64/*
vc/ScaiIlpExe/Release_x64/*
vc/ScaiIlpExe/DebClang_x64/*
vc/ScaiIlpExe/RelClang_x64/*
vc/UnitTest/Debug_x64/*
vc/UnitTest/Release_x64/*
vc/UnitTest/DebClang_x64/*
vc/UnitTest/RelClang_x64/*
*.mps
vc/.vs/*
*.aps
*.vcxproj.user